body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  min-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 28px;
  color: #007bff;
}

.modo-escuro-button {
  padding: 8px 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modo-escuro-button:hover {
  background-color: #0056b3;
}

.button-consultar-saldo {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-consultar-saldo:hover {
  background-color: #0056b3;
}

input {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 3%;
}

.saldo-container {
  margin-bottom: 20px;
  text-align: center;
}

.saldo-container button {
  margin-bottom: 10px;
}

.mensagem {
  margin-top: 10px;
  color: #dc3545;
  font-size: 14px;
  text-align: center;
}

.modo-escuro {
  background-color: #333;
  color: #f9f9f9;
}

.operacoes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.operacoes-container button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.operacoes-container button.depositar {
  background-color: #28a745;
  color: #fff;
}

.operacoes-container button.sacar {
  background-color: #dc3545;
  color: #fff;
}

.operacoes-container button.depositar:hover {
  background-color: #218838;
}

.operacoes-container button.sacar:hover {
  background-color: #c82333;
}
